In [1]:
# Import dependencies
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sqlalchemy import create_engine
from config import user, db_password, host, database

In [2]:
# Create the database engine
engine = create_engine(f"postgres://{user}:{db_password}@{host}:5432/{database}")

In [3]:
# Import flu and uninsured rates from database
uninsured_rates_df = pd.read_sql_query("SELECT * FROM uninsured_rates_by_state", con=engine)
# uninsured_rates_df.head()

flu_df = pd.read_sql_query("SELECT * FROM cleaned_flu_csv", con=engine)
# flu_df.head()

In [4]:
# Merge datasets
uni_flu_df = pd.merge(uninsured_rates_df, flu_df, left_index=True, right_index=True)

uni_flu_df= uni_flu_df.drop(columns="state").copy()

uni_flu_df = uni_flu_df.rename(columns={"State": "state", 
                                        "Uninsured Rate 2016": "uninsured_rate_2016", 
                                        "Uninsured Rate 2017": "uninsured_rate_2017",
                                        "Uninsured Rate 2018": "uninsured_rate_2018",
                                        "Uninsured Rate 2019": "uninsured_rate_2019",
                                        "2016": "flu_cases_2016", 
                                        "2017": "flu_cases_2017", 
                                        "2018": "flu_cases_2018", 
                                        "2019": "flu_cases_2019"})

uni_flu_df.head()

,﻿State,uninsured_rate_2016,uninsured_rate_2017,uninsured_rate_2018,uninsured_rate_2019,flu_cases_2016,flu_cases_2017,flu_cases_2018,flu_cases_2019
0,Alabama,9.1,9.4,10,9.7,11546,26878,63999,68724
1,Alaska,14.0,13.7,12,12.2,1063,3306,8352,8249
2,Arizona,10.0,10.1,10,11.3,22366,22543,24574,20504
3,Arkansas,7.9,7.9,8,9.1,2883,5249,5831,5939
4,California,7.3,7.2,7,7.7,44159,46097,52153,52210

In [ ]:
# Seperate independent and dependent variables
y = uni_flu_df[[""]]